<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magazines.css">
    <title>EmailResult</title>

</head>

<body>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">

                <div class="col-lg-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h2 style="color: blue;">Book Search Results</h2>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="/"><button class="btn btn-outline-primary me-md-2"
                                        type="button">Back</button></a>
                            </div>
                            <br>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th>Title</th>

                                            <th>Author</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>

                                            <td>
                                                <%=result.title%>
                                            </td>

                                            <td>
                                                <% for(var j=0; j<authors.length; j++){
                                                    if(result.authors==authors[j].email){ %>
                                                    <%=authors[j].firstname%>
                                                        <%=authors[j].lastname%>
                                                            <%} } %>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <%if(result2){%>

                    <div class="col-lg-8 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h2 style="color: blue;">Magazine Search Results</h2>
                                <br>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>

                                                <th>Title</th>

                                                <th>Author</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>

                                                <td>
                                                    <%=result2.title%>
                                                </td>

                                                <td>
                                                    <% for(var j=0; j<authors.length; j++){
                                                        if(result2.authors==authors[j].email){ %>
                                                        <%=authors[j].firstname%>
                                                            <%=authors[j].lastname%>
                                                                <%} } %>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%}%>

            </div>
        </div>
    </div>
</body>

</html>