<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magazines.css">
    <title>Magazines</title>

</head>

<body>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">

                <div class="col-lg-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h2 style="color: blue;">Magazines Table</h2>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="/magazinesraw" target="_blank"><button class="btn btn-outline-primary me-md-2"
                                        type="button">Raw Data</button></a>
                            </div>
                            <br>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>SL. NO</th>
                                            <th>Title</th>
                                            <th>ISBN.</th>
                                            <th>Authors</th>
                                            <th>Published At</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <%for(var i=0; i < mag.length; i++){%>
                                        <tr>
                                            <td>
                                                <%= i+1 %>
                                            </td>
                                            <td>
                                                <%=mag[i].title%>
                                            </td>
                                            <td>
                                                <%=mag[i].isbn%>
                                            </td>
                                            <td>
                                                <% for(var j=0; j<authors.length; j++){
                                                    if(mag[i].authors==authors[j].email){ %>
                                                    <%=authors[j].firstname%>
                                                        <%=authors[j].lastname%>
                                                            <%} } %>
                                            </td>
                                            <td>
                                                <%= mag[i].publishedAt%>
                                            </td>
                                        </tr>
                                        <%}%>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="/"><button class="btn btn-outline-primary me-md-2"
                                        type="button">Back</button></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>